<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title" id="title">{{post.title}}</h5>
    <p class="card-text" id="body">{{post.body}}</p>
  </div>
   <div class="card-footer text-muted" id="name">
    created by: {{post.user.name}}
  </div>
</div>
    
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title" id="title">{{post.comment.text}}</h5>
  </div>
   <div class="card-footer text-muted" id="name">
    created by: {{post.comments.user_id}}
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-project-form">
      <div class="form-group">
        <label for="post-title" >Comment:</label>
        <input class="form-input" type="text" id="title" name="post-comment" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary editBtn" id="editBtn">Post Comment</button>
      </div>
    </form>
  </div>